<div class= "top-hero-wrapper text-center">
    <div class= "container top-hero-container">
      <table class="skill-category-index">
        <thead>
          <tr>
            <div class= "skill-th">スキルカテゴリー</div>
          </tr>
        </thead>
        <tbody>
          <% @skill_category.each do |skillcategory| %>
          <tr>
            <td><%= link_to skillcategory.name, skill_category_path(skillcategory) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>