<div class= "top-hero-wrapper text-center">
    <div class= "container top-hero-container">
        <div class= "store-list">
            <% @stores.each do |store| %>
            <%= store.name %><br>
            <% end %>
        </div>
    </div>
</div>