<%#span class= "store_list">
    <%#= form_tag ajax_path, method: :get, remote: true do %>
     <%#= hidden_field_tag :id, area.id %>
     <%#= select_tag :store, options_for_select(@store_id), store, class: "select_store" %>
     <%#= f.collection_select :store_id, @store, :id, :name, :prompt => "選択して下さい" %>
    <%# end %>
<%#/span>
<%#<div class= "form-group"> %>
    <%#= f.label '店舗名' %>
   
<%#</div> %> 
