<!--<div class="users-new-wrapper">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-offset-4 col-md-4 users-new-container">-->
<!--                <div class= "form-group">-->
<!--                    <%#= f.label :number, class: 'text-black' %>-->
<!--                    <%#= f.text_field :number, class: 'form-control' %>-->
<!--                </div>-->
<!--                <div class= "accbox">-->
<!--                    <label for = "label1">パスワード変更</label>-->
<!--                    <input type = "checkbox" id="label1" class="cssacc" />-->
<!--                    <div class= "ccshow">-->
<!--                        <div class= "form-group">-->
<!--                            新しいパスワード<br>-->
<!--                            <%#= f.text_field :password, class: 'form-control' %>-->
<!--                        </div>-->
<!--                        <div class= "form-group">-->
<!--                            新しいパスワード入力<br>-->
<!--                            <%#= f.text_field :password, class: 'form-control' %> -->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class= "form-group">-->
<!--                    <%#= f.label :name, class: 'text-black' %>-->
<!--                    <%#= f.text_field :name, class: 'form-control' %>-->
<!--                </div>-->
<!--                <div class= "form-group">-->
<!--                    <%#= f.label '役職' %>-->
<!--                    <%#= f.collection_select :role_id, Role.all, :id, :name, :prompt => "選択して下さい" %>-->
<!--                </div>-->
<!--                <div class= "form-group">-->
<!--                    <%#= f.label 'エリア' %>-->
<!--                    <%#= f.collection_select :area_id, Area.all, :id, :name, :prompt => "選択して下さい" %>-->
<!--                </div>-->
<!--                <div class= "form-group">-->
<!--                <%#= f.label '店舗名' %>-->
<!--                <%#= f.collection_select :store_id,Store.all, :id, :name, :prompt => "選択して下さい" %>-->
<!--                </div>-->
<!--                <%#= f.submit "登録", class: 'btn-block btn-black' %>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
