<div class= "toppages">
    <div class= "top-hero-toppages text-center">
        <div class= "container top-hero-toppages-index">
            <h1><%=image_tag 'toplogo.png', class: 'top-page-icon' %></h1>
            <p>Employee happiness is company happiness</p>
            <div class= "row">
                <%= link_to 'Log in', login_path, class: 'btn btn-block btn-black' %>
            </div>
        </div>    
    </div>
</div>