<div class= "top-hero-wrapper text-center">
    <div class= "container top-hero-container">
        <div class= "row">
            <div class= "col-md-offset-1 col-md-10 toppages-index-container" >
                <%=image_tag 'toplogo.png', class: 'top-page-icon' %>
            </div>
        </div>
        <div class= "row">
            <div class= "col-md-offset-1 col-md-10 toppages-index-subcontainer" >
                <h2>StoreScoring</h2>
            </div>
        </div>
    </div>
</div>