<div class= "top-hero-wrapper text-center">
    <div class= "container top-hero-container">
        <div class= "users-admin-container">
            <% @users.each do |user| %>
            <li>
                <%= link_to user.name %>
            </li>
            <% end %>
        </div>
    </div>
</div>
