ul {
     list-style: none;
     padding: 0;
     margin-top: 300px;
     line-height: 100px;
     font-size: 40px;
     font-family: 'arial black';
}
a {
    color: #000;
}
.text-black {
    color: #000;
}
.btn-black {
    color: #000;
    border: 3px solid #000;
    padding-top: 0px;
    font-size: 30px;
    background-color: rgba(0,0,0,0.0);
     font-family: 'arial black';
}
.top-hero-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('#');
    background-position: center center;
    background-size: cover;
    background-color: #d5cdc8;
}
.top-hero-container {
    padding-top: 100px;
    h1 {
        margin-bottom: 20px;
    }
    h2 {
        font-size: 80px;
        font-family: 'arial black';
        margin-bottom: 20px;
    }
    .top-page-icon {
    max-width: 100%;
    max-height: 400px;
    }
}
body{
    display: flex;
    flex-direction: column;
}
.topbar{
    height: 70px;
    text-align: center;
    background-color: #a3c5c7;
    color: #fff;
}
main{
    min-height: 100vh;
    display: flex;
    margin-top: 10px;
    font-size: 2rem;
}
.maincontent{
    flex: 1;
    text-align: center;
    margin-left: 10px;
}

.sidebar{
    width: 300px;
    text-align: center;
    background-color: #a3c5c7;
    color: #fff;
    color: #fff;
}
.topbar-icon {
    max-width: 100%;
    height: 70px;
}
.users-new-wrapper {
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #EEEEEE;

    .users-new-container {
        padding-top: 220px;
        font-size: 20px;
    }
    .form-group {
        margin-bottom: 20px;
    }
}
.alert {
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 10000;
}
.toppages-index-container {
    margin-bottom: 100px;
    height: 300px;
}
.toppages-index-subcontainer {
    height: 500px;
}
.stores-container {
    max-height: 80vh;
    max-width: 30vw;
    overflow: scroll;
    font-size: 30px;
    text-align: left;
    border-width: thick;
    border-style: double;
    font-family: "筑紫A丸ゴシック";
}
.skills-container {
    font-size: 30px;
    text-align: left;
    font-family: "筑紫A丸ゴシック";
}
.top-hero-store {
    margin-left: 20px;
}
.skill_list {
    border: 3px solid #000;
    font-family: "筑紫A丸ゴシック";
}
.store-list {
    max-height: 90vh;
    font-size: 30px;
    font-family: "筑紫A丸ゴシック";
    text-align: left;
}
.profiles-detail {
    font-size: 30px;
    font-family: "筑紫A丸ゴシック";
    text-align: left;
}
.users-admin-container {
    font-size: 30px;
    font-family: "筑紫A丸ゴシック";
    text-align: left;  
}
.skills_admin-container {
    font-size: 30px;
    font-family: "筑紫A丸ゴシック";
    text-align: left;    
}
.btn-black-skills {
    color: #000;
    border: 3px solid #000;
    padding-top: 0px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.0);
    font-family: 'arial black';
}
.skills-container {
    display: inline-block;  
    font-size: 25px;
    font-family: "筑紫A丸ゴシック";
}
.skill-list-container {
    display: inline-block;  
    font-family: "筑紫A丸ゴシック";
}
.text-custom {
    font-size: 30px;
    font-family: "筑紫A丸ゴシック";
}
.skillCategory {
    font-size: 25px;
    margin-top: 20px;
    background-color: #e2d085;
}
.skill-category-index {
    font-size: 30px;
    text-align: left;    
    font-family: "筑紫A丸ゴシック";
}